/* style.css */

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

.counter {
    text-align: center;
    font-size: 2em;
    color: #333;
}

.description {
    text-align: center;
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

#contador {
    margin: 20px;
    font-weight: bold;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.history {
    margin-top: 50px;
    margin-bottom: 50px; /* Adiciona uma margem na parte inferior */
    width: 100%;
    max-width: 500px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.history h2 {
    text-align: center;
    color: #333;
    padding: 20px; /* Adiciona algum espaço ao redor do título */
}

#scrollContainer {
    max-height: 50vh; /* Define a altura máxima para o container como 50% da altura da viewport */
    overflow-y: auto;
    padding: 0 20px;
}

.history ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove a margem padrão */
}

.history li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #666;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave ao alterar a cor de fundo */
}

.history li:hover {
    background-color: #f0f0f0; /* Altera a cor de fundo quando o mouse passa por cima */
}

.footer {
    margin-top: auto; /* Alinha o rodapé na parte inferior da página */
    text-align: center;
    color: #666;
}

/* Estilos para o tema claro */
body.light-theme {
    background-color: #f4f4f9;
    color: #333;
}

body.light-theme .history li {
    border-bottom: 1px solid #ddd;
    color: #666;
}

body.light-theme .history li:hover {
    background-color: #f0f0f0;
}

/* Estilos para o tema escuro */
body.dark-theme {
    background-color: #333;
    color: #f4f4f9;
}

body.dark-theme h1 {
    color: #f4f4f9;
}

body.dark-theme p {
    color: #f4f4f9;
}

body.dark-theme .history {
    background-color: #555;
    color: #f4f4f9;
    border: 1px solid #f4f4f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

body.dark-theme .history h2 {
    color: #f4f4f9;
}

body.dark-theme .history li {
    border-bottom: 1px solid #ddd;
    color: #f4f4f9;
}

body.dark-theme .history li:hover {
    background-color: #777;
}

body.dark-theme .counter.value {
    color: #f4f4f9;
}

body.dark-theme footer {
    background-color: #333;
    color: #f4f4f9;
}

/* Estilos para o botão de alternar tema */
#toggleTheme {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#toggleTheme input {
    opacity: 0;
    width: 0;
    height: 0;
}

#toggleTheme span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

#toggleTheme span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

#toggleTheme input:checked + span {
    background-color: #2196F3;
}

#toggleTheme input:checked + span:before {
    transform: translateX(26px);
}

body.dark-theme #toggleTheme span {
    background-color: #333;
}

body.dark-theme #toggleTheme input:checked + span {
    background-color: #2196F3;
}